/* 
@keyframes myAnimation {
    0% {
        opacity: 1;
    
        background-color: orange;
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
      }
      100% {
        opacity: 1;
    
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
        background-color: #0099cc;
      }
} */

/* 
body:hover  .modal {
    animation-name: myAnimation;
    animation-duration: 3s;
    transform-origin: top bottom;
  

   
 } */

:root {
    --space-m: 12px;
    --space-xm: 16px;
    --space-l: 24px;
    --space-b: 32px;
    --size-d: 16px;
    --size-s: 14px;
    --size-l: 20px;
    --color-border: #dee2e6;
    --color-primary:  rgb(52, 68, 238);
    --color-title: #5a5a5a;
    --border-radius: 12px;
    --color-plain_text: #343a40;
    --weight-text: 400;
    --page-width: 960px;
}



/* ======================= */


.page {
    background-color: #ffffff;
    padding: 0 15px;
    display: flex;
    justify-content: center;
}

.page_content {
    max-width: 960px;
   width: 100%;
   display: flex;
   flex-direction: column;
   gap: 80px;
}

/* ======================= */
.logo {
    font-size: 17px;
    background-color: var(--color-primary);
    color: #ffffff;
    width: 24px;
    height: 24px;
    border-radius:  calc(var(--border-radius) / 2) ;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header {
    padding: var(--space-l) 0;
    border-bottom: 1px solid var(--color-border);
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
    max-width: var(--page-width);
    width: 100%;
    background-color: #ffffff;
    z-index: 1;
}


.nav {
    display: flex;
}

.nav_inline  {
    gap: var(--space-l);
}


.nav_vertical {
    gap: var(--space-xm);
    flex-direction: column;
}
.nav_link {
    color:var(--color-plain_text);
    font-size: var(--size-d);
    text-decoration: none;
    line-height: 100%;
    transition: color 2s ;
}

.nav_link:hover {
    color: blue;
    text-decoration: underline;

}

.footer {
    padding: var(--space-l) 0;
    border-top: 1px solid var(--color-border); 
    display: flex;
    justify-content: space-between;
    

}

.footer_copyright {
    font-size: var(--size-s);
    color: var(--color-plain_text);
    display: block;
    margin-top: var(--space-l);
}

.footer_title {
    font-size: var(--size-l);
    color: var(--color-title);
    display: block;
    margin-bottom: var(--space-l);
}


.hero {
    display: flex;
    gap: var(--space-b);
    align-items: center;
    padding: 40px;
    border-bottom: 1px solid var(--color-border);
    
}

.hero_photo {
    height: 500px;
    width: 500px;
    border-radius: var(--border-radius);
    
  
}

.hero_content {
    display: flex;
    flex-direction: column;
    gap: var(--space-l);
}

.hero_title {
    font-size: 50px;
    color: var(--color-title);
    line-height: 120%;
    font-weight: 500;
}

.hero_text {
    color: var(--color-title);
    font-size: var(--size-l);
    font-weight: var(--weight-text);
    line-height: 170%;
}

.blog {
    display: flex;
    gap: var(--space-b);
    padding: 40px;
    border-bottom: 1px solid var(--color-border);
}


.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: var(--space-l);
    

}

.card_img {
    width: 140px;
    border-radius: 50%;
    height: 140px;
}

.card_title {
    font-size: var(--space-b);
    font-weight: 500;
    color: var(--color-title);
}

.card_text {
    font-size: var(--size-d);
    color: var(--color-plain_text);
    font-weight: var(--weight-text);
}

.card_button {
    color: #ffff; 
    background-color: var(--color-primary);
}

.button:hover {
    opacity: 0.8;
    background-color: yellow;
}

.form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-primary);
    padding: var(--space-l);
    border-radius: var(--border-radius);

}

.form_content {
    display: flex;
    flex-direction: column;
    gap: var(--space-m);
}

.form_title {
    font-size: 27px;
    font-weight: 500;
    color: #ffffff;
}

.form_info {
    font-size: var(--size-d);
    font-weight: var(--weight-text);
    color: #ffffff;
    
}

.form_button {
    color: var(--color-primary); 
    background-color: #ffffff;
}

.button {
    display: inline-block;
    padding: var(--space-m) var(--space-xm);
    font-size: var(--size-d);
    text-decoration: none;
    border-radius: 4px;
    transition-duration: 1s ;
    transition-property:  opacity, background-color;
}



.hero_slider_left {
    left: var(--space-l);
}

.hero_slider_right {
    right: var(--space-l);
}

.hero_icon {
    background-color: var(--color-primary);
    width: 30px;
    height: 30px;
    display: flex;
    border-radius: var(--border-radius);
    color: white;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: calc(50% - 15px);
}

.hero_icon:hover {
    opacity: 0.5;
    cursor: pointer;
}

.hero_slider {
    position: relative;
}

.modal {
    position: fixed;
    top: 200px;
    left: 200px;
    height: 100px; 
    width: 600px;
    background: #343a40;
    color: #ffffff;
    padding: 24px;
    border-radius: 24px;
    line-height: 150%;
    z-index: 2;
   
} 

.modal_photo {
    width: 100px;
    height: 100px;
    float: left;
    margin-right: 12px;
    margin-top: 12px;
    object-position: top left;
} 


:root {
    scroll-behavior: smooth;
}

